<h1>{{displayName}}</h1>
<div
  style="text-align: center"
  *ngIf="status === 404"
>{{info}}</div>
<app-ressource-card
  *ngFor="let link of links; index as i"
  [link]="link"
  [number]="i"
></app-ressource-card>
