h1 {
  text-align: center;
  color: var(--secondary-colour);
  font-size: 3rem;
  user-select: none;
}

#resources {
  display: block;
}

@media (min-width: 40rem) {
  #resources {
    position: absolute;
    left: 25vw;
    right: 25vw;
  }
}

@media (max-width: 40rem) {
  #resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
  }
}
