<main>
  <h1
    style="text-align: center"
    *ngIf="status === 404"
  >{{info}}</h1>
  <h1>{{displayName}}</h1>
  <article id="resources">
    <app-ressource-card
      *ngFor="let link of links; index as i"
      [link]="link"
      [number]="i"
    ></app-ressource-card>
  </article>
</main>
