@media (max-width: 40rem) {
  .card {
    width: 90vw;
  }
}

.button_primary, .button_secondary {
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 5px;

  text-align: left;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  margin-bottom: 5px;
  margin-right: 5px;
}

.button_primary a, .button_secondary a {
  text-decoration: none;
  color: var(--secondary-colour);
}

@media (min-width: 40rem) {
  .button_primary:hover, .button_secondary:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    transform: translate(0, -1px)
  }
}

.button_primary {
  background-color: var(--accent-colour);
  border: 2px solid var(--accent-colour)
}

.button_secondary {
  background-color: var(--primary-colour);
  border: 2px solid var(--accent-colour)
}
