p {
  margin: 0 0 13px 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  height: fit-content;
}

.numberDisplay {
  position: sticky;
  font-size: 10vw;
  font-weight: 600;

  top: 0;
  text-align: left;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
  background: transparent;
}

.cardContent {
  border-top: 2px solid var(--secondary-colour);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
  height: fit-content;
}

.cardContent .title {
  font-weight: 600
}

.cardContent .title {
  line-height: 26px;
}

@media (max-width: 600px) {
  .cardContent {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .cardContent {
    font-size: 15px;
  }
}

.button {
  height: fit-content;
  width: fit-content;

  border: 2px var(--accent-colour) solid;
  background-color: transparent;
  border-radius: 20px;

  text-align: left;
  padding: 10px;
  margin: 45% 0 3px 0;
}

.description {
  color: var(--subtle_secondary_colour);
  height: fit-content;
}

.title {
  height: fit-content;
}

.button a {
  color: var(--secondary-colour);
  text-decoration: none;
}
