<div class="card">
  <div class="numberDisplay">{{ numberFormatter(number) }}</div>
  <div class="cardContent">
    <div class="title">{{link.displayName}}</div>
    <div class="description">
      <p *ngFor="let description of link.description">{{description}}</p>
    </div>
    <button class="button"><a href="{{link.url}}" >Go to {{link.displayName}}</a></button>
  </div>
</div>
