<section class="card">
    <h2 class="title">{{numberFormatter(number) + '. ' + link.title}}</h2>
    <div class="description">
      <p *ngFor="let description of link.description">{{description}}</p>
    </div>
    <button class="button_primary"><a href="{{link.resource}}" >Go to {{link.title}}</a></button>
    <button
      class="button_secondary"
      *ngIf="link.publisher !== 'Anonym'"
    ><a href="https://lookup.guru/{{link.publisher}}" >Go to Publishers Profile</a></button>
  <hr>
</section>
