input {
  width: 70%;
  height: 1.9rem;
  padding: 0 10px;

  font-size: 1.3rem;

  border: 2px var(--accent-colour) solid;
  border-radius: 25px;

  box-shadow: 0 1px rgba(0, 0, 0, 0.30);
}

div {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 0.8rem;
  border-radius: 10px;

  padding: 5px;

  background-color: var(--accent-colour);
}

a {
  color: var(--primary-colour);
  text-decoration-line: none;
}
