/* navbar */
ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border: 2px solid var(--accent-colour);
  border-radius: 25px;
  margin: 8px;
}

li a {
  display: block;
  color: var(--secondary-colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li hover {
  box-shadow: 0 3px rgba(0, 0, 0, 0.30);
}

@media (min-width: 40rem) {
  li:last-child {
    float: right;
  }
}
