<ul>
  <li><a href="https://codeberg.org/adambrangenberg/programmingResources/issues" target="_blank">Issues and
    Contact 👋</a></li>
  <li><a href="https://codeberg.org/adambrangenberg/programmingResources/wiki/How-to-Contribute"
         target="_blank">Contribute 🏗</a></li>

  <li><a href="https://codeberg.org/adambrangenberg/programmingResources" target="_blank">Sourcecode ⛰</a></li>
</ul>
<router-outlet></router-outlet>
