/* You can add global styles to this file, and also import other style files */
:root {
  --primary-colour: rgb(27, 27, 31);
  --secondary-colour: rgb(222, 225, 227);
  --subtle_secondary_colour: rgb(232, 232, 232);
  --accent-colour: rgb(119, 98, 92);

  --border-width: 4px;
}

body {
  background: var(--primary-colour);
  color: var(--secondary-colour);
  font-family: "Roboto:400", "OpenSans", sans-serif;
  margin: 0;

  overflow-x: hidden;
}
