/* You can add global styles to this file, and also import other style files */
:root {
  --primary-colour: #333;
  --secondary-colour: white;
  --subtle_secondary_colour: #e8e8e8;
  --accent-colour: #facb65;
}

body {
  background: var(--primary-colour);
  color: var(--secondary-colour);
  font-family: "Roboto:400", "OpenSans", sans-serif;
  margin: 0;
}
