<div class="wrapper">
  <form>
    <input type="submit" routerLink="render/{{ searchString }}" value="🔎" class="submit">
    <input type="text" placeholder="Kotlin stuff" (keyup)="searchInput($event)" class="searchBar">
  </form>

  <input type="checkbox" id="overlay-input" />
  <label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
