.searchBar {
  width: 80vw;
  padding: 10px;

@media (max-width: 40rem) {
  .searchBar {
    width: 40vw;
  }
}

.searchBar, .submit {
  border: var(--border-width) solid var(--accent-colour);
  border-radius: 75px;

  box-shadow: 0 1px rgba(0, 0, 0, 0.30);
  font-size: 1.3em;
  padding: 10px;
}

@media (max-width: 40rem) {
  .searchBar {
    width: 40vw;
  }
}

.submit {
  text-shadow: 2px 2px rgb(255, 255, 255);
  background-color: var(--primary-colour);
}

form, .wrapper {
  /* Center it vertically */
  display: flex;
  justify-content: center;
  gap: 5px;
  width: fit-content;
}

.wrapper {
  width: 100vw;
  margin: 5px;
}

@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: var(--secondary-colour);
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
    &:before {
      top: -10px;
      visibility: visible;
    }
    &:after {
      top: 10px;
    }
    &:before, &:after {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: var(--secondary-colour);
      position: absolute;
      content: "";
      transition: all .2s ease-in-out;
    }
  }
  &:hover span, &:hover span:before, &:hover span:after {
    background: var(--accent-colour);
  }
}

input[type=checkbox] {
  display: none;

  &:checked ~ #overlay {
    visibility: visible;
  }

  &:checked ~ #overlay-button {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

#overlay {
  width: 100vw;
  background: var(--primary-colour);
  border-bottom: 5px solid var(--secondary-colour);
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    text-align: left;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: var(--secondary-colour);
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: var(--accent-colour);
        }
      }
    }
  }
}
